{% extends 'base.html' %}
{% load static %}
{% block title %}
    Home
{% endblock %}

{% block scripts %}
<script src="{% static 'scripts/main.js' %}"async defer></script>
{% endblock %}

{% block container %}
<h1>Store - Welcome</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium corporis, cupiditate distinctio esse est eveniet ex excepturi, inventore ipsa labore magnam natus odio officiis perferendis quos, sit suscipit totam.</p>
{% endblock %}

{% block aside %}
    <h3>Comes from home.html Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquid at cum esse eum id officia repudiandae sint tenetur ut.</h3>
{% endblock %}